:root {
  /* Primitives */
  --neutral-50: #fbfbfb;
  --neutral-100: #f5f5f5;
  --neutral-200: #f3f3f3;
  --neutral-300: #ebebeb;
  --neutral-400: #d4d4d4;
  --neutral-500: #c2c2c2;
  --neutral-600: #b7b7b7;
  --neutral-700: #969696;
  --neutral-800: #2e2e2e;
  --neutral-900: #0b0b0b;

  --red-50: #fef2f2;
  --red-100: #ffe2e2;
  --red-200: #fecaca;
  --red-300: #fca5a5;
  --red-400: #f87171;
  --red-500: #ef4444;
  --red-600: #dc2626;
  --red-700: #b91c1c;
  --red-800: #991b1b;
  --red-900: #7f1d1d;

  --orange-50: #fff7ed;
  --orange-100: #ffedd5;
  --orange-200: #fed7aa;
  --orange-300: #fdba74;
  --orange-400: #fb923c;
  --orange-500: #f97316;
  --orange-600: #f14e1d;
  --orange-700: #c2410c;
  --orange-800: #9a3412;
  --orange-900: #7c2d12;

  --yellow-50: #fefce8;
  --yellow-100: #fef9c3;
  --yellow-200: #fef08a;
  --yellow-300: #ffdd00;
  --yellow-400: #facc15;
  --yellow-500: #eab308;
  --yellow-600: #ca8a04;
  --yellow-700: #a16207;
  --yellow-800: #854d0e;
  --yellow-900: #713f12;

  --violet-50: #f5f3ff;
  --violet-100: #ede9fe;
  --violet-200: #ddd6fe;
  --violet-300: #c4b5fd;
  --violet-400: #a78bfa;
  --violet-500: #8b5cf6;
  --violet-600: #7c3aed;
  --violet-700: #6d28d9;
  --violet-800: #5b21b6;
  --violet-900: #4c1d95;

  --purple-50: #faf5ff;
  --purple-100: #f3e8ff;
  --purple-200: #e9d5ff;
  --purple-300: #d8b4fe;
  --purple-400: #c084fc;
  --purple-500: #a855f7;
  --purple-600: #9333ea;
  --purple-700: #7e22ce;
  --purple-800: #6b21a8;
  --purple-900: #581c87;

  --pink-50: #fff4fb;
  --pink-100: #ffe8f7;
  --pink-200: #ffcdee;
  --pink-300: #fda8e1;
  --pink-400: #f16cc6;
  --pink-500: #e843b2;
  --pink-600: #e10098;
  --pink-700: #b91584;
  --pink-800: #a21775;
  --pink-900: #81165e;

  --green-50: #f0fdf4;
  --green-100: #dcfce7;
  --green-200: #bbf7d0;
  --green-300: #86efac;
  --green-400: #4ade80;
  --green-500: #22c55e;
  --green-600: #16a34a;
  --green-700: #15803d;
  --green-800: #166534;
  --green-900: #14532d;

  --olive-50: #f5f7ec;
  --olive-100: #e9efd1;
  --olive-200: #d4e3a0;
  --olive-300: #bfd863;
  --olive-400: #a7c92a;
  --olive-500: #79931a;
  --olive-600: #576f00;
  --olive-700: #3c4b06;
  --olive-800: #2a3502;
  --olive-900: #1a2102;

  --blue-50: #eff6ff;
  --blue-100: #dbeafe;
  --blue-200: #bfdbfe;
  --blue-300: #93c5fd;
  --blue-400: #60a5fa;
  --blue-500: #3b82f6;
  --blue-600: #2563eb;
  --blue-700: #1d4ed8;
  --blue-800: #1e40af;
  --blue-900: #1e3a8a;

  --sky-50: #f0f9ff;
  --sky-100: #e0f2fe;
  --sky-200: #bae6fd;
  --sky-300: #7dd3fc;
  --sky-400: #38bdf8;
  --sky-500: #0ea5e9;
  --sky-600: #0284c7;
  --sky-700: #0369a1;
  --sky-800: #075985;
  --sky-900: #0c4a6e;

  /* Semantics */
  --background: var(--neutral-50);
  --foreground: var(--neutral-900);

  --surface: var(--neutral-700);
  --surface-foreground: var(--neutral-100);

  --primary: var(--neutral-900);
  --primary-hover: var(--neutral-800);
  --primary-foreground: var(--neutral-50);

  --secondary: var(--neutral-100);
  --secondary-hover: var(--neutral-200);
  --secondary-foreground: var(--neutral-900);

  --outline: var(--neutral-100);

  --ghost-hover: var(--neutral-100);
  --ghost-foreground: var(--neutral-900);

  --muted: var(--neutral-200);
  --muted-foreground: var(--neutral-600);

  --accent: var(--violet-500);
  --accent-active: var(--violet-400);
  --accent-foreground: var(--neutral-900);

  --destructive-foreground: var(--red-500);
  --destructive-background: var(--red-100);
  --destructive-border: var(--red-500);

  --border-hard: var(--neutral-900);
  --border-soft: var(--neutral-700);

  --ring: var(--neutral-300);
  --ring-error: var(--red-300);

  --input: var(--neutral-600);
}
